.teclado {
    width: 500px;
    border: 2px solid black;
    padding: 2%;
}

.letras {
    width: 40px;
    height: 40px;
    background: gray;
    color: #FFF;
    border: none;
    margin-bottom: 5px;
}

.letras:hover {
    cursor: pointer;
}

.palabra {
    display: inline-block;
}

.cajaStyle {
    border: 1px solid red;
    width: 50px;
    height: 50px;
    display: inline-block;
    color: #FFF
}