
    
    <div class="container-fluid">
        <div class="row">
            <div class="centrado col Membresia">
                 <div class="texto">
                      Contactanos
                 </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row" >
            <div class="col-md-4">
                ¡Hola!
                Escribe tus datos y cuéntanos tu inquietud. Te daremos una respuesta en menos de 24 horas laborables.
            </div>
            <div class="col-md-8">
                <form action="">
                    <div class="col-md-5">
                        <label for="Nombre" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="Nombre" placeholder="Jhon Doe">
                    </div>
                    <br>
                    <div class="col-md-7">
                        <label for="Correo" class="form-label">Correo</label>
                        <input type="email" class="form-control" id="Correo" placeholder="jhondoe@gmail.com">
                    </div>
                    <br>
                    <div class="col-md-7">
                        <label for="DPI" class="form-label">Documento de Identificación</label>
                        <input type="text" class="form-control" id="DPI" placeholder="1902387198321">
                    </div>
                    <br>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Departamentos </option>
                        <option value="1">Chiquimula</option>
                        <option value="2">Escuintla</option>
                        <option value="3">Guatemala</option>
                        <option value="4">Petén</option>
                      </select>
                      <br>
                    
                        <button type="button" class="btn btn-outline-primary">Enviar</button>
                        
                    
                      
                </form>
            </div>
        </div>
    </div>
