

    <div class="container-fluid">
        <div class="row">
            <div class="centrado col ImagenHorario">
                 <div class="texto">
                    Nuestros Horarios 
                 </div>
                
            </div>
        </div>
    </div>

    
    <div class="container-fluid horariosFondo">
        <div class="row">
            <div class="col">
                <table class="table table-dark table-striped">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lunes</th>
                        <th scope="col">Martes</th>
                        <th scope="col">Miercoles</th>
                        <th scope="col">Jueves</th>
                        <th scope="col">Viernes</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>CALENTAMINETO 06:00 30 min</td>
                        <td>CALENTAMINETO 06:00 30 min</td>
                        <td>CALENTAMINETO 06:00 30 min</td>
                        <td>CALENTAMINETO 06:00 30 min</td>
                        <td>CALENTAMINETO 06:00 30 min</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>CROSS 06:30  1:30 min</td>
                        <td>SMART DANCE 06:30 1:30 min</td>
                        <td>CARRERA 6:30 1:30 min</td>
                        <td>CARDIO 6:30 1:30 min</td>
                        <td>CROSS 06:30  1:30 min</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>DANZA 08:00  45 min</td>
                        <td>CARDIO 08:00  45 min</td>
                        <td>CAMINATA 08:00 45 min</td>
                        <td>DANZA 08:00  45 min</td>
                        <td>SMART DANCE 08:00 45 min</td>
                    </tr>
                        
                    </tr>
                    <tr>
                        <th scope="row">4</th>
                        <td>PESAS 08:30  2:30 min</td>
                        <td>CARRERA 08:30 2:30 min</td>
                        <td>SMART DANCE 8:30 2:30 min</td>
                        <td>CROSS 08:30 2:30 min</td>
                        <td>PESAS 08:30  2:30 min</td>
                        
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>SMART DANCE 8:30 45 min</td>
                        <td>DANZA 08:30 45 min</td>
                        <td>CARDIO 08:30 45 min</td>
                        <td>PESAS 08:30 45 min</td>
                        <td>SMART DANCE 8:30 45 min</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>SHAPE 09:30  30 min</td>
                        <td>SHAPE 09:30  30 min</td>
                        <td>CROSS 09:30  30 min</td>
                        <td>CROSS 09:30  30 min</td>
                        <td>CAMINATA 09:30 45 min</td>
                    </tr>
                    <tr>
                        <th scope="row">7</th>
                        <td>CARDIO 09:30  30 min</td>
                        <td>CROSS 09:30 30 min</td>
                        <td>DANZA 09:30 30 min</td>
                        <td>ABDOMEN 10:30 30 min</td>
                        <td>CARDIO 09:30  30 min</td>
                    </tr>
                    <tr>
                        <th scope="row">8</th>
                        <td>CROSS 10:30 30 min</td>
                        <td>ABDOMEN 10:30 30 min</td>
                        <td>PESAS 10:30  30 min</td>
                        <td>CROSS 10:30 30 min</td>
                        <td>ABDOMEN 10:30 30 min</td>
                    </tr>
                    <tr>
                        <th scope="row">9</th>
                        <td>ABDOMEN 10:30 30 min</td>
                        <td>PESAS 10:30  30 min</td>
                        <td>SMART DANCE 10:30 30 min</td>
                        <td>ZUMBA 10:30 30 min</td>
                        <td>CARRERA 10:30 30 min</td>
                    </tr>

                    <tr>
                        <th scope="row">10</th>
                        <td>CAMINATA 10:30 90 min</td>
                        <td>CARRERA 10:30 90 min</td>
                        <td>ZUMBA 10:30 90 min</td>
                        <td>SMART DANCE 8:30 45 min</td>
                        <td>CAMINATA 10:30 90 min</td>
                    </tr>
                    <tr>
                        <th scope="row">11</th>
                        <td>CARRERA 11:30 60 min</td>
                        <td>CROSS 11:30 60 min</td>
                        <td>SMART DANCE 11:30 60 min</td>
                        <td>CARRERA 11:30 60 min</td>
                        <td>SHAPE 11:60 30 min</td>
                    </tr>

                    <tr>
                        <th scope="row">12</th>
                        <td>CIERRE 12:00 PM</td>
                        <td>CIERRE 12:00 PM</td>
                        <td>CIERRE 12:00 PM</td>
                        <td>CIERRE 12:00 PM</td>
                        <td>CIERRE 12:00 PM</td>
                        
                    </tr>

                    </tbody>
                </table>

            </div>
        </div>
    </div>

