<div class="container-fluid">
    <div class="row">
        <div class="centrado col fondo">
             <div class="texto">
                Ejercicio para tu cuerpo y mente
             </div>
            
        </div>
    </div>
</div>
<!--  Tercer Contenedor informativo-->
<div class="container-fluid fondo2">
    <div class="row">
      <div class="col padding"> 
        <p class="texto2">
            ¿Información?
        </p>
        <p class="elemento">
            Practicar deportes y vivir un estilo de vida más activo requiere esfuerzo y tiempo, pero 
            definitivamente vale la pena. Entrena con entrenadores calificados que tienen como objetivo mejorar la vida de las personas a través del fitness en instalaciones con equipos modernos y un ambiente confortable para hacer más fácil y efectiva la práctica.
        </p>
      </div>  
    </div>
    <br>
    
    <div class="row">
        <div class="col">
            <div class="text-center">
                <div>
                    <img src="image/Quetzal.png" alt="Quetzal">
                </div>
                <div>
                    <p class="colorWhite " >
                        Planes al mejor precio
                    </p>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div>
                    <img src="image/Maquina.png" alt="Fitnes">
                </div>
                <div>
                    <p class="colorWhite " >
                        Circuitos dirigidos
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <div>
                    <img src="image/Gym1.png" alt="GYMAnimado">
                </div>
                <div>
                    <p class="colorWhite " >
                        Tenemos 9 sedes
                    </p>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div>
                    <img src="image/Zumba.png" alt="Zumba">
                </div>
                <div>
                    <p class="colorWhite " >
                        Clases Grupales
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <div>
                    <img src="image/Calendario.png" alt="Calendario">
                </div>
                <div>
                    <p class="colorWhite " >
                        Abierto 363 días al año y horarios extendidos
                    </p>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div>
                    <img src="image/Ducha.png" alt="Ducha">
                </div>
                <div>
                    <p class="colorWhite " >
                        Baños y duchas
                    </p>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="text-center">
                <div>
                    <img src="image/Caminadora.png" alt="Caminadora">
                </div>
                <div>
                    <p class="colorWhite " >
                        Equipo de última generación
                    </p>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div>
                    <img src="image/VIP.png" alt="Fitnes">
                </div>
                <div>
                    <p class="colorWhite " >
                        Áreas VIP
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="text-center">
                <div>
                    <img src="image/Parqueo.png" alt="Caminadora">
                </div>
                <div>
                    <p class="colorWhite " >
                        2hrs. de parqueo GRATIS
                    </p>
                </div>
            </div>
            <br>
            <div class="text-center">
                <div>
                    <img src="image/Ilimitado.png" alt="Fitnes">
                </div>
                <div>
                    <p class="colorWhite " >
                        Acceso ilimitado
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

 <!--  Cuarto Contenedor informativo de nuestra historia-->
<div class="container-fluid Historia">
    <div class="row">
      <div class="col padding"> 
        <p class="texto2">
            Nuestra histora
        </p>
        <p class="elemento">
            KYNALGYM es un gimnasio 100% Chapín; que te da una gran alternativa diferente, atractiva y muy moderna que está especializada al mejor precio. ¿Buscas mejorar tu salud y la calidad de vida?, pues a través d la actividad física en nuestros diferentes ambientes que te brindamos limpios y profesionales.
            A lo largo de la vida de KYNALGYM la experiencia dentro de esta industria; nos dimos cuenta que analizar las modas actuales del fitness. Pensamos un modelo de negocios para ti  e iniciamos un nuevo proyecto con la importancia de propones un nuevo estilo de vida para nuestros miembros.
            Visualizamos un gimnasio de un alto nivel en equipamiento y limpieza y servicios al menor precio.
            
        </p>
      </div>  
    </div>
