

    <div class="container-fluid">
        <div class="row">
            <div class="centrado col Contacto">
                 <div class="texto">
                      Nuestras Membresias
                 </div>
                
            </div>
        </div>
    </div>
    
    <div class="container-fluid fondoMembresia">
        <div class="row">
            <div class="col-md-12 text-center">
                <p class="textoMembresia">
                    ¡Encuentra la membresía que más te convenga!
               
                <p class="elemento2">
                    
                    En KYNALGYM es donde recargas las pilas. Haz que tu vida y tu día sean como los quieres con 
                    increíbles opciones de membresía de gimnasio a precios increíbles y motivadores.         
                    </p>
                </p>
                <img class="fondoSede" src="../image/Sede.png" alt="">  
                </div>
        
            </div> 
        </div>

    </div>
   
    <div class="container-fluid MembresiasFondo">
        <div class="row">
            <div class="col ">
                <p class="textoBlack">
                    Membresía Kinalero de Corazón
                
                <p class="elemento3">

                    La Membresia kinalero de Corazón es una ventaja para su vida física. Acceso a áreas exclusivas y todos los lugares solo para miembros Plus. en caso de que buscas una cobertura integral para una vida más saludable, aquella membresía es para ti. Disfruta de todos los beneficios de un gimnasio, incluido tu propio el instructor personal y seguimiento de la nutrición, 
                    con una aplicación que ofrece cientos de entrenamientos adaptados a tus necesidades.
                  
                 </p>
                </p>
                
            </div>
        </div>
    </div>

 \
    <div class="container-fluid MembresiasFondo">
        <div class="row">
            <div class="col">
                <p class="textoBlack">
                    Membresía VIP
                    <div class="diseno">
                    <p class="elemento3">
                        La membrecia VIP también ofrece muchos otros beneficios exclusivos, permitiéndote hacer el entrenamiento que te mereces cualquier día en cualquier tienda Impulso Fitness. Nuestro servicio VIP de
                        abarcar todo lo que hacer falta para una nueva vida energética : Fitness, áreas dedicadas, clases grupales como Zumba, ejercicios de cuerpo completo, aeróbicos, gaps y más. Con nuestra app, siempre tienes tu individual entrenador personal y cientos de sesiones de entrenamiento adaptadas a tus necesidades.
                        Esta membresía es especial si quieres compartir algo con tus amigos. Invita a tus amigos a entrenar contigo o pasar tiempo en el gimna
                        im
                    </p>
                    <img class="imagen-membresia" src="../image/Kinalero.png" alt="">
                    </div>
                   
                </p>
            </div>
        </div>
    </div>

    <div class="container-fluid MembresiasFondo">
        <div class="row">
            <div class="col">
                <p class="textoBlack">
                    Membresía básica
                
                <p class="elemento3">
                    Con nuestra Membresía Normal, que incluye acceso a equipos cardiovasculares y de fuerza de última generación, puedes 
                    soñar, entrenar y ponerte en forma en el gimnasio. Pon en marcha tu vida fitness, libera endorfinas con kilómetros de cardio y rompe paradigmas sobre tu forma física con cientos de ejercicios de entrenador personal en nuestra aplicación.            
                 </p>           
                  </div>
                </p>
            </div>
        </div>
    </div>
    
   

    <script src="lib/bootstrap/js/bootstrap.js"></script>
</body>
</html>